{% extends 'base.html.twig' %}

{% block div %}
    <h2 class="normal-case text-xl mt-5" style="background-color: ">
        Choisissez quand vous voulez partir !
    </h2>
    <div class="navbar bg-base-100 rounded-lg">
        <div date-rangepicker class="flex items-center ">
            <div class="relative">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                </div>
                <input name="start" type="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date start">
            </div>
            <span class="mx-4 text-gray-500">Au</span>
            <div class="relative">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                </div>
                <input name="end" type="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date end">
            </div>
        </div>
    </div>
{% endblock %}

        {% block header %}
            <div class="navbar bg-amber-200">
                <div class="navbar-start">
                    <div class="dropdown">
                        <label tabindex="0" class="btn btn-ghost btn-circle" style="color: #38A169">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
                        </label>
                        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                            <li><a href="/">Accueil</a></li>
                            <li><a href="/housing">Réserver un camping</a></li>
                            <li><a href="#">A propos de la Tatane</a></li>
                        </ul>
                    </div>
                </div>
                <div class="flex-none">
                    <h2 class=" btn btn-ghost normal-case text-xl" style="color: #38A169">
                       LA TATANE
                    </h2>
                </div>
                <div class="navbar-end">
                    <div class="dropdown dropdown-bottom dropdown-end">
                        <label tabindex="0">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <div class="avatar online">
                                    <div class="avatar offline rounded-full" style="width: 3rem">
                                        <img src="/images/avatar.jpeg"/>
                                    </div>
                                </div>
                            {% else %}
                                <div class="avatar offline">
                                    <div class="avatar offline rounded-full" style="width: 3rem">
                                        <img src="/images/avatar.jpeg"/>
                                    </div>
                                </div>
                            {% endif %}
                        </label>
                        <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                                <li><a href="{{ path('admin') }}">Mon tableau de bord</a></li>
                            {% else %}
                                <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                                <li><a href="#">Mon tableau de bord</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endblock %}

{% block section %}
    <div style="display: flex;gap: 3rem; flex-wrap: wrap; margin-top: 6rem">
    {% for housing in housings  %}
    <div class="card w-96 bg-base-100 shadow-xl">
        <figure><img src="/images/housing/img.jpeg" alt="Image" style="width: 100%"/></figure>
        <div class="card-body">
            {% if housing.type == 'MobileHome'%}
                <div class="badge badge-error">{{ housing.type  }}</div>
            {% elseif housing.type == 'Caravane' %}
                <div class="badge badge-success">{{ housing.type }}</div>
            {% else %}
                <div class="badge badge-info">{{ housing.type }}</div>
            {% endif %}
            <h2 class="card-title">
                <span><i class="fas fa-user"></i>  {{ housing.capacity }}</span>
                <span><i class="fas fa-house"></i> {{ housing.surface }} m² </span>
            </h2>
            <p>{{ housing.description }}</p>
            <div class="card-actions">
                <button class="btn btn-primary">Reserver</button>
            </div>
        </div>
    </div>
        {% endfor %}
    </div>
{% endblock %}
