{% extends 'base.html.twig' %}

{% block section %}
    <div style="display: flex;gap: 3rem; flex-wrap: wrap; margin-top: 6rem">
            <div class="card w-96 bg-base-100 shadow-xl">
                <figure><img src="/images/housing/img.jpeg" alt="Image" style="width: 100%"/></figure>
                <div class="card-body">
                    {% if housing.type == 'MobileHome'%}
                        <div class="badge badge-error">{{ housing.type  }}</div>
                    {% elseif housing.type == 'Caravane' %}
                        <div class="badge badge-success">{{ housing.type }}</div>
                    {% else %}
                        <div class="badge badge-info">{{ housing.type }}</div>
                    {% endif %}
                    <h2 class="card-title">
                        <span><i class="fas fa-user"></i>  {{ housing.capacity }}</span>
                        <span><i class="fas fa-house"></i> {{ housing.surface }} m² </span>
                    </h2>
                    <p>{{ housing.description }}</p>
                    <div class="card-actions">
                        <button class="btn btn-primary"><a href="/reservation">Reserver</a></button>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}